@import url(../style/main.css);

body{
	
	display: flex;
	flex-flow: row wrap;
	background-image: url("../img/Angebot/Flug.jpg");
	background-repeat: no-repeat;
	background-size: 200%;	
	
}


#ueberschrift h1{
	background-color: white;
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-style: italic;
}

.Beschreibung{
	margin-top: 33%;
	font-style: italic;
	text-align: center;
  font-family: "Bookman Old Style";
	font-size: 15px;
}

.fotoButton {

	height: 300px;
	width: 320px;
	margin-bottom: 15px;
	margin-left: 10px;
	border-radius: 3px;
	border: 3px solid black;
  background-color: whitesmoke;
	box-shadow: 10px 10px 10px gray;
	border-radius: 10px;
}

.fotoButton:hover {

	height: 400px;
	width: 460px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 3px solid black;
  box-shadow: 10px 10px 10px white;
	border-radius: 10px;
}


#moskau{
	background-image: Url("../img/Angebot/Moskau.jpg");	
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#düsseldorf{
	
  background-image: Url("../img/Angebot/Duesseldorf.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
	
}

#rom{

   	background-image: Url("../img/Angebot/Rom.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#paris{
	
   	background-image: Url("../img/Angebot/Paris.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#dublin{

   	background-image: Url("../img/Angebot/Dublin.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#sideny{

   	background-image: Url("../img/Angebot/Sidney.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#side{

   	background-image: Url("../img/Angebot/Side.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#barcelona{

   	background-image: Url("../img/Angebot/Barcelona.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#bali{

   	background-image: Url("../img/Angebot/Bali.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#miami{

   	background-image: Url("../img/Angebot/Miami.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#button-lissabon{
   	background-image: Url("../img/Angebot/Lissabon.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}

#button-hamburg{
  background-image: Url("../img/Angebot/Hamburg.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}


b{
	
	font-family: "Bookman Old Style";
	font-size: 30px;
	color: white;
	
}

#angebote{
   text-align: center;
  font-family: "Bookman Old Style";
	font-size: 20px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 5%;
}

