@CHARSET "utf-8";
@import url(../style/main.css);



.Flug {
	width: 40%;
}

.passengers {
	width: 30%;
}

.kalender {
	width: 20%;
}

 h4, input {
	margin: 0;
}

input, select {
	margin-top: 5px;
	width: 90%;
}


.Flug h4 {
	margin-left: 20px;
}

.flugLabel {
	border: 2px #1188cc solid;
	padding: 5px;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
}

.switchFlight, .imageDiv, #flugWrapper {
	display: flex;
	flex-direction: row;
	flex-wrapper: row wrap;
}

.Flug, .passengers, .kalender, .flightSearchWindow {
	display: flex;
	flex-direction: column;
	flex-wrapper: row wrap;
	margin-top: 5px;
}

.FlugartRadio {
	display: none;
}

.flugLabel {
	width: 30%;
	margin-right: 10px;
	background-color: #1188CC;
	min-width: 102px;
	max-width: 120px;
}

/* .tables { */
/* 	position: absolute; */
/* 	display: none; */
/* } */

.Date {
	background: url(images/kalender.png) no-repeat right top;
	background-color: white;
	background-size: 22px 22px;
}

.selectPassenger {
	margin-top: auto;
}

#flugWrapper div {
	margin-top: 10px;
}

#flugWrapper .autocompletAirport {
	margin-top: 0px;
}

#flugWrapper {
	justify-content: space-between;
}

input:CHECKED+.flugLabel {
	background-color: #114477;
	border: 3px white solid;
	font-weight: bold;
	color: white;
}

input:NOT(:CHECKED ) +.flugLabel:HOVER {
	font-weight: bold;
	color: black;
}

input[type="text"], select {
	background-color: white;
}

#flightInfo {
	background-color: #ddd;
	border: 3px #ddd solid;
	padding: 1%;
	margin-top: 15px;
	border-radius: 10px;
}

          