@import url(../style/main.css);
/** Autor Magdalena Hora*/

body{
	background-image: URL(../img/Impressum/Hintergrund.Impressum.png);
	background-size: 100%;
}

#Haftung{
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 10 px;
	margin-bottom: 3%;
}

#Ueberschrift>h1{
	margin-top: 12%;
	text-align: center;
	font-family: "Calisto MT";
	font-size: 55px;
	color: whitesmoke; 
}
c{
	margin-left: 3%;
	font-size: 25px;
}

b{
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 3%;
	padding-bottom: 5px;
}

#Inhaber{
	background-color: gray;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	padding-bottom: 1%;
}

#Inhaber h1{
	font-family: "Calisto MT";
	font-size: 30px;
	margin-left: 3%;
}

#Inhaber >#Namen{
	background-color: whitesmoke;
	margin-left: 1%;
	margin-right: 1%;
}
