body{
	font-size: 18px;
	font-family: sans-serif;
	margin: 0px;
	position: absolute;
	width: 100%;
}

*{
  box-sizing: border-box;
}	

button.submitButton{
	background-color: orange;
	border: solid black 2px;
}

button.submitButton:hover{
	background-color: darkorange;
}