@import url(../style/main.css);
/** Autor Magdalena Hora*/

div{
	padding: 0.2em;
}

body{
	background-image: URL("../img/Registrierung/HintergrundRegistrierung.jpg");
	background-size: 100%;
}

article{
  margin-left: 28%;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 25px;
}

label{
  display: inline-block;
	text-align: left;
	min-width: 10em;
}

input{
	width: 20em;
}

fieldset{
	width: 30em;
	padding-top: 1.5em;
	padding-left: 1.5em;
	background: ghostwhite;
	border-radius: 5px;
	margin-top: 10%;
	opacity: 0.9;
}

input:required + span::after{
	color:red;
	content: " *";
}

input[type='email']:valid + span::after{
	color: green;
	content: " *"
}

legend{
	background: white;
	padding: 0.2em;
	border-radius: 5px;
}



